<div class="d-flex flex-column justify-content-center align-items-center">
      <%= image_tag 'user-pp.png', class: "img-thumbnail rounded-circle", style: "width: 3.5rem" %>
      <small style="max-width: 3.5rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">Username</small>
</div>
<%# the white-space nowrap shortens the sentence to whitespace to max-size.... text-overflow: ellipsis gives the .... %>