<h1>This is the Home Page!</h1>

<% if current_user %>
<%# when using rails 7 we need to change link_to -> button_to which is used with method delete %>
  <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
<% end %>

